@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
/*and (orientation : landscape)*/ {
html,
body {
width:1000px; 
}
}
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

.body{
background-color:#fff;
}
.glass{
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}

input[type=text] {
display: block;
margin: 0 auto;
margin-top: 50px;
width: 100px;
border-radius: 10px;
text-align: center;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 20%;
}

.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.btn{
background-color: black;
display: block;
margin: 0 auto;
text-align: center;
margin-top: 20px;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
}
#output{
text-align: center;
color: black;
padding-right: 30px;
}
.footer{
padding-top: 10px;
text-align: center;
font-size: 10px;

}
