.body{
background-color: black;
}
.choose{
color: white;
padding-top: -20px;
padding-bottom: 10px;
}
.chooseTie{
color: white;
padding-top: -20px;
padding-bottom: 10px;
}
.playeronelogo{
color: white;
padding-top: -20px;
padding-bottom: 10px;
}

a:hover {
    color: white !important ;
}
a{
	 color: white !important ;
}
a:link{
	color: white;
}
.btn{
background-color: black !important;
border-color: white;
}
.btn-primary{
	border-color: white !important;
}
.starter{
position: relative;
text-align: center;
margin-top: 250px;
}
.fa{
transition: color .5s;
cursor: pointer;
color: white;

}
.fa:hover{
color: #191818;
}
.fa-circle-o {
margin-right: 10px;
}
.fa-times {
margin-left: 10px;
}


.row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  vertical-align: middle;
  margin: auto;
}
.col-md-6{
padding-top: 5px;

}
.btn{
width:100px;
height: 100px;
}

.end{
padding-top: 180px;
color: white;
}

.tie{
padding-top: 180px;
color: white;
}


div { outline-style:none;}


.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}






















/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}